:root { 
/*bg*/
--Very-dark-blue: hsl(233, 47%, 7%);

/*card-bg*/
--Dark-desaturated-blue: hsl(244, 38%, 16%);

/*accent*/
--Soft-violet: hsl(277, 64%, 61%);
}


html { 
font-family: 'Inter', sans-serif;
font-weight: 400;
color: white;
}

body { 
    background-color: var(--Very-dark-blue);
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container { 
    grid-template-rows: 1fr repeat(3, auto);
    background-color: var(--Dark-desaturated-blue);
    width: 100vw;
    max-width: 330px;
    max-height: 100vh;
    border-radius: 20px;
    text-align: center;
}

p { 
    font-weight: 400;
}

.background-image img { 
    width: 100%;
    height: 300px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    opacity: 0.3;
    display: grid;
}

.overlay { 
    background-color: var(--Soft-violet);
    width: 330px;
    height: 300px; 
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#insights { 
    color: var(--Soft-violet);
}

.header { 
    font-size: 19px;
    margin-left: 20px;
    margin-right: 20px;
}

article { 
    line-height: 30px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    margin: 0px 30px;
    font-weight: 400;
}

.numbers { 
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 20px;
}

.numbers p { 
    color: hsla(0, 0%, 100%, 0.75);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
}



@media (min-width: 1000px) { 
    .container { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100vw;
        max-width: 900px;
        max-height: 500px;
    }

    .background-image { 
        order: 2;
    }

    .background-image { 
        position: relative;
    }
    .background-image img { 
        height: 100%;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

    .overlay { 
        background-color: var(--Soft-violet);
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0px;
    }

    .content { 
        justify-content: start;
        text-align: start;
    }

    .numbers { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}






